# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
.env/
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Alembic
alembic/versions/

# Logs
*.log

# Database
*.sqlite3

# Misc
*.bak
*.swp
